meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")

//-  See https://goo.gl/OOhYW5 --
link( rel="manifest" href="./manifest.json")
meta( name="theme-color" content="#3f51b5")

//- Used if adding to homescreen for Chrome on Android. Fallback for manifest.json --
meta( name="mobile-web-app-capable" content="yes")
meta( name="application-name" content="Node-RED UI Builder")

title LBW in detail
meta( name="description" content="LBW control")

link( rel="icon" href="./images/node-blue.ico")
