//- #House

style
  include ../css/house.css


mixin data(id)
  .dataWrap
    .dataCell(class=id)

mixin room_info
  .dataWrap
    .dataCell.NW
      .verticalCenter
        .name
        .number

mixin temperature
  .dataWrap
    .dataCell.C
      .verticalCenter
        .temperature
        .unit

mixin room(id)
  .roomWrap(id=id)
    .room
      .dataGrid
        +room_info
        +data("N")
        +data("NE")
        +data("W")
        +temperature
        +data("E")
        +data("SW")
        +data("S")
        +data("SE")

#house
  .background
    include icon/castle

  .foreground
    +room("R001")
    +room("R008")
    +room("R005")
    +room("R004")
    +room("R006")
    +room("R007")
    +room("R011")
    +room("R012")
    +room("R101")
    +room("R102")
    +room("R103")
    +room("R104")
    +room("R100")
    +room("R111")
    +room("R112")
    +room("R201")
    +room("R202")
    +room("R203")
    +room("R211")
    +room("R212")
    +room("RK03")
    +room("RK05")
    
    +room("x1")
    +room("x2")
    +room("x3")
    
    #wind
      include icon/compass
