style
  include ../css/tabs.css

mixin button(target)
  button.tablinks(id= "btn"+target 
    onclick='tab_select(event, "'+target+'")')= target

mixin item(id)
  .square
    .content
      .table
        .gauge(id=id)


.tab
  +button("Time")
  +button("House")
  +button("Rooms")
  +button("Heating")
  +button("Climate")
  +button("Phone")
  +button("Debug")
  
#Debug.tabcontent
  include debug

#Time.tabcontent
