//- #Rooms
  
style
  include ../css/rooms.css

mixin part(id)
  .partWrap(class=id)
    .part

mixin gauge(id)
  .partWrap(class=id)
    .part(id=id)

mixin info
  .partWrap(class="NW")
    .part
      .name
      .number

+info
+part("N")
+part("NE")
+part("W")
+gauge("RoomT")
+part("E")
+gauge("RoomV")
+part("S")
+part("SE")




//- .temperature
//- .unit
