//- #Rooms
  
style
  include ../css/rooms.css

mixin part(id)
  .partWrap(id=id)
    .part

mixin info
  .partWrap("NW")
    .part
      .name
      .number

+info
+part("N")
+part("NE")
+part("W")
+part("RoomT")
+part("E")
+part("SW")
+part("S")
+part("SE")




//- .temperature
//- .unit
