.screen {
  height: 75vw;
  border: 1px solid #0f0;
}

.tabcontent {
  height:   66vw;
}

#Time {
  display: flex;
  align-items: center;
  justify-content: center;
  height:   66vw;
}

#time {
  width:    65vw;
}

/* .shoebox {
  width:  20vw;
  height: 20vw;
  border: 1px solid blue;

} */
