#Rooms {
  display: grid;
  grid-template-columns: 16.6% 66.6% 16.6%;
  /* grid-template-rows: repeat(6, 8%); */
  /* grid-gap:    1vw; */
  width: 100%;
  overflow:hidden;
  font-size: 100;

}

.partWrap SE {
}

.iconbar {
  display: flex;
  align-items: center;
  justify-content:space-between;
  align-content: center;
  height: 100%;

}


/* .iconcell {
  flex: 1;
} */
.iconcell {
  overflow:hidden;
  text-align:center;
}
.iconcell p {
  margin: 0;
}


.icon {
  /* width:  5vw;
  height: 5vw; */
}

.partWrap {
  border: 1px solid #f8f8f8;
  align-content:
}
.sliders {
  display: flex;
  height: 100%;
}

.slider_box {
  flex 1;
}
.slider {
  width: 100%;
  height: 95%;
  -webkit-appearance: slider-vertical;
}
